* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Mono', monospace;
}
.container {
    border: 1px solid red;
    max-width: 600px;
    margin: 0 auto;
    height: 400px;
}

.user {
    border: 2px solid black;
    width: 400px;
    height: 125px;
    margin: 20px 0px 0px 60px;
}

.top {
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    margin-left: 20px;
}

.like {
    background-color: #ffae42;
    margin-right: 10px;
    width: 40px;
    height: 25px;
    border: 1px solid black;
    box-shadow: 2px 2px 2px black;
}

.bottom {
    width: 350px;
    height: 50px;
    display: flex;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 12.5px;
}