* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
   max-width: 900px;
   height: 500px;
   margin: 0 auto;
}

body {
    font-family: 'Roboto Mono', monospace;
}
header {
    width: 650px;
    height: 40px;
    margin: 0 auto;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    text-indent: 15px;
}

h2 {
    text-align: center;
    margin-top: 10px;
}

main {
    width: 650px;
    height: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.left {
    border: 2px solid black;
    width: 115px;
    height: 185px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.left p {
    font-size: 9pt;
}
.right {
width: 500px;
margin-top: 40px;
display: flex;
flex-direction: column;
justify-content: space-between;
}

.right-box {
    border: 2px solid black;
    width: 500px;
    height: 115px;
}

.box-top {
    width: 500px;
    height: 40px;
    display: flex;
    align-items: center;
}

.name {
    width: 125px;
    text-indent: 15px;
}

.likes {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 375px;
    height: 40px;
    margin-right: 20px;
}

button {
    margin-left: 40px;
    width: 50px;
    height: 30px;
    background-color: #F1CD61;
    border: 2px solid black;
    box-shadow: 2px 2px 2px black;
}

.box-bot { 
    margin-left: 15px;
}

img {
    height: 50px;
}